{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "rules": {
    "import/extensions": "off",
    "import/prefer-default-export": "off"
  },
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "airbnb"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".ts"]
      }
    }
  }
}
